@model IEnumerable<ControleEstoque.MVC.ViewModels.PaisViewModel>

@{
    ViewBag.Title = "Países";
}
@*@Styles.Render("~/Bundles/DataTables/css")*@
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="TabelaPais" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>PaisId</th>
                                        <th>Descrição</th>
                                        <th>Codigo</th>
                                        <th>Ativo</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Bundles/DataTables/js")
<script src="~/Scripts/Cadastros/CadPais.js"></script>