input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px;
}

.cbx {
    display: flex;
    align-items: center;
}

.cbx label {
    margin-bottom: 0px;
}

.fornecedor > .modal-dialog {
    width: 55% !important;
}